# Alchemy (required when using alchemy)
# Generate both the secret and the state token using `openssl rand -base64 32`.
ALCHEMY_SECRET=<***>
ALCHEMY_STATE_TOKEN=<***>
# The hostname used for deployment and for generating VITE_PUBLIC_BASE_URL env.
HOSTNAME=<your app's hostname, e.g. kit.devsantara.com>

# Cloudflare [CI] (required for deployment workflows)
# See https://alchemy.run/guides/cloudflare#api-token
CLOUDFLARE_API_TOKEN=<***>
# Your Cloudflare email
CLOUDFLARE_EMAIL=<***>

# Cloudflare [LOCAL] (required for some local development workflows)
# Optional: Some tools may require the account ID even for local development.
CLOUDFLARE_ACCOUNT_ID=<***>
# Optional: Some tools may require an API token even for local development.
CLOUDFLARE_API_TOKEN=<***>
# Optional: If you want to use the remote D1 database with drizzle studio.
CLOUDFLARE_DATABASE_ID=<***>

# Observability - Posthog
# See https://app.posthog.com/project/settings
VITE_PUBLIC_POSTHOG_HOST=<posthog host url>
VITE_PUBLIC_POSTHOG_KEY=<***>
VITE_PUBLIC_POSTHOG_DEBUG=<enable debug mode (default: false)>
VITE_PUBLIC_POSTHOG_ENABLED=<enable posthog (default: false)>

# Observability - Posthog sourcemap upload (CI only)
# See https://app.posthog.com/settings/project#variables
POSTHOG_CLI_HOST=<posthog cli host url>
POSTHOG_CLI_PROJECT_ID=<***>
# Personal API key with error tracking write and organization read scopes
# See https://app.posthog.com/settings/user-api-keys#variables
POSTHOG_CLI_TOKEN=<***>
