# Alchemy (required when using alchemy)
# Generate both the secret and the state token using `openssl rand -base64 32`.
ALCHEMY_SECRET=<***>
ALCHEMY_STATE_TOKEN=<***>
HOSTNAME=<devsantara.com | kit.devsantara.com | "your.domain">

# Cloudflare (required for deployment workflows)
# See https://alchemy.run/guides/cloudflare#api-token
CLOUDFLARE_API_TOKEN=<***>
# Your Cloudflare email
CLOUDFLARE_EMAIL=<***>

# Observability - Posthog
# See https://app.posthog.com/project/settings
VITE_PUBLIC_POSTHOG_HOST=<posthog host url>
VITE_PUBLIC_POSTHOG_KEY=<***>
VITE_PUBLIC_POSTHOG_DEBUG=<enable debug mode (default: false)>
VITE_PUBLIC_POSTHOG_ENABLED=<enable posthog (default: false)>
